<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<script src="{{ url_for('static', filename='scripts/homePage.js') }}"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cengden</title>

</head>
<body>
    <header>
        <h1>Cengden</h1>
        <div class="accountpanel">
            <img class="accountimg" src="{{ url_for('static', filename='accountprofile.png') }}" >
            {% if session %}
                <a style="font-size: 11px;" href="/accountPage"> {{session.userinfo.email}} </a>
                <p><a href="/logout">Logout</a></p>
                
            {% else %}
                <p>Anonymous</p>
                <p><a href="/login">Login</a></p>
            {% endif %}
        </div>
    </header>
    
    <nav>
        <button onclick="getAllItems()">Home</button>
        <button onclick="getAllItemsWithFilter({'category':'Vehicle'})">Vehicles</button>
        <button onclick="getAllItemsWithFilter({'category':'Computer'})">Computers</button>
        <button onclick="getAllItemsWithFilter({'category':'Private Lessons'})">Private Lessons</button>
    </nav>
    <h2 style="margin-left:25px;">Items</h2>
    <section id="item-panel">
        
        
    </section>
    <div style="display: none;" id="modal" class="modal">
        
        <div class="modal-content">
            <h2>Details</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
</body>
</html>
