<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<script src="{{ url_for('static', filename='scripts/homePage.js') }}"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cengden</title>

</head>
<body>
    <header>
        <h1>Cengden</h1>
        <div class="accountpanel">
            <img class="accountimg" src="{{ url_for('static', filename='accountprofile.png') }}" >
            {% if session %}
                <a style="font-size: 11px;" href="/accountPage"> {{session.userinfo.email}} </a>
                <p><a href="/logout">Logout</a></p>
                
            {% else %}
                <p>Anonymous</p>
                <p><a href="/login">Login</a></p>
            {% endif %}
        </div>
    </header>
    
    <nav>
        

        <div class="filter-panel">
            <fieldset class = "checkbox-container">
                <div>
                    <label for="All_checkbox">All</label>
                    <input type="checkbox" id="All_checkbox" onclick="addCategoryToFilters('All')" checked=true />    
                </div>
                <div>
                    <label for="Vehice_checkbox">Vehicle</label>
                    <input type="checkbox" id="Vehicle_checkbox" onclick="addCategoryToFilters('Vehicle')" />    
                </div>
                <div>
                    <label for="Computer_checkbox">Computer</label>
                    <input type="checkbox" id="Computer_checkbox" onclick="addCategoryToFilters('Computer')"/>
                </div>
                <div>
                    <label for="Phone_checkbox">Phone</label>
                    <input type="checkbox" id="Phone_checkbox" onclick="addCategoryToFilters('Phone')"/>    
                </div>
                <div>
                    <label for="Private Lesson_checkbox">Private Lessons</label>
                    <input type="checkbox" id="Private Lesson_checkbox" onclick="addCategoryToFilters('Private Lesson')"/>
                </div>
            </fieldset>
            
            <label for="min-price">Min Price:</label>
            <select id="min-price" onchange="addMinPriceToFilters()">
                <option value="0">Any</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <label for="max-price">Max Price:</label>
            <select id="max-price" onchange="addMaxPriceToFilters()">
                <option value="9999999">Any</option>
                <option value="5000">5000</option>
                <option value="10000">10000</option>
                <option value="50000">50000</option>
                <option value="1000000">100000</option>
            </select>
            <br>
            <button onclick="getAllItemsWithFilter()" >Apply</button>
        </div>
        <!-- End Filter Panel -->
        
    </nav>
    <h2 style="margin-left:25px;">Items</h2>
    <section id="item-panel">
        
        
    </section>
    <div style="display: none;" id="modal" class="modal">
        
        <div class="modal-content">
            <h2>Details</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
</body>
</html>
