body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #940101;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.button-36 {
    background-image: linear-gradient(92.88deg, hsl(13, 88%, 25%) 9.16%, #b93a3a 43.89%, #af2323 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10%;
}

.button-36:hover {
    box-shadow: rgba(172, 23, 7, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}

form {
    border: 5px solid #f1f1f1;
}
    input[type=text] {
        width: 100%;
        padding: 16px 8px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button {
        padding: 14px 0;
        margin: 10px 0;
        width: 75%;
    }
   
    .container {
        padding: 16px 0;
        text-align:left;
    }
    .panels-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        box-sizing: border-box;
    }
    .profile-panel {
        width: 30%;
        max-height: 450px;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ddd;
    }
    .items-panel {
        width: 50%;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ddd;
    }